# Pandas Basics

### 1. First import pandas as pd and (to download our dataset) also seaborn as sns

### 2. Use the `load_dataset` function of seaborn to load the 'car_crashes' dataset and assign it to a variable `crash_df`. Whenever you feel like you need help, try to use the help function. In this case it would be `help(sns.load_dataset)`

### Variable Explanations

| Variable | Explanation |
| --- | --- |
| total | Number of drivers involved in fatal collisions per billion miles |
| speeding | Number of drivers involved in fatal collisions per billion miles Who Were Speeding |
| alcohol | Number of drivers involved in fatal collisions per billion miles Who Were Alcohol-Impaired |
| not_distracted | Number of drivers involved in fatal collisions per billion miles Who Were Not Distracted |
| no_previous | Number of drivers involved in fatal collisions per billion miles Who Had Not Been Involved In Any Previous Accidents |
| ins_premium | Car Insurance Premiums (\$) |
| ins_losses | Losses incurred by insurance companies for collisions per insured driver (\$) | 
| abbrev | State |

https://www.kaggle.com/fivethirtyeight/fivethirtyeight-bad-drivers-dataset

Note that categories are not exclusive. A driver might have been drinking alcohol, while speeding, without having had previous car accidents when entering the statistic as fatal collision.

### 3. `crash_df` is now a pandas DataFrame object. That means we can apply DataFrame methods like head() which helps us getting a first look at the data. So apply `.head()` on our `crash_df` to see some of the data.

## Rows

### 4.1 Let's first have a look at rows of the dataframe, meaning data of a single US-State. Select the row representing New York (abbrev == NY) which has the index 33. For example by using the .iloc functionality of pandas.

### 4.3 Now try to also have a look at the rows above and below NY. Use .iloc to index all three rows at once.

## Columns

### 5.1 After looking at rows, we now want to do the same with columns. Select the last column `abbrev`. Remember that a DataFrame is a 2 dimensional array that needs to be indexed with row and column indices.

### 5.2 And now, select the columns 'speeding', 'alcohol', and 'abbrev'.

## Boolean Indexing

### 6.1 We can also use boolean arrays to select elements of a dataframe. In a first step, try to get a boolean array that contains True values for all `ins_premiums` above 800. Next, use that boolean array to select all ins_premium values > 800 so you can see the values. Assign it to the variable `premium_above_800` and find out how many values are above 800 by getting the length of the series.

## Calculating, Assining, Removing

### 7.1 Up to this point we have only looked at the data. Let's start working with it a bit. For simplicity assume that *insurance premium - insurance losses = profit*. Select the `ins_premium` column and subtract the `ins_losses` column from it. Save the result in a new column of the dataframe by simply assigning the result to a column that we give a new name `ins_profit`. The new column should now been added to the right end of the dataframe.

### 7.2 At last, delete the `ins_profit` column again so we get back the dataframe we had at the beginning. You can do this by using the dataframe `drop()` method. Make sure to use the columns/index or axis keyword to specify whether you want to delete a column or row when using the drop method.