# Pandas Advanced

In [ ]:
import os

import pandas as pd
import seaborn as sns

In [ ]:
crash_df = sns.load_dataset('car_crashes')

### Variable Explanations

| Variable | Explanation |
| --- | --- |
| total | Number of drivers involved in fatal collisions per billion miles |
| speeding | Number of drivers involved in fatal collisions per billion miles Who Were Speeding |
| alcohol | Number of drivers involved in fatal collisions per billion miles Who Were Alcohol-Impaired |
| not_distracted | Number of drivers involved in fatal collisions per billion miles Who Were Not Distracted |
| no_previous | Number of drivers involved in fatal collisions per billion miles Who Had Not Been Involved In Any Previous Accidents |
| ins_premium | Car Insurance Premiums (\$) |
| ins_losses | Losses incurred by insurance companies for collisions per insured driver (\$) | 
| abbrev | State |

https://www.kaggle.com/fivethirtyeight/fivethirtyeight-bad-drivers-dataset

Note that categories are not exclusive. A driver might have been drinking alcohol, while speeding, without having had previous car accidents when entering the statistic as fatal collision.

## Pandas Methods

### 1.1 Let's have a look at the column names of the dataframe. Print out the `columns` attribute.

In [ ]:
crash_df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

### 1.2 The meaning of 'abbrev' is not very clear at first. Let us change it to 'US state' instead. Use the rename() method for that. Make sure to use the right argument type, if you need help, consider using the `help` function on `pd.DataFrame.rename`.
### Moreover, most pandas dataframe methods have an `inplace` attribute which is always `False` by default. If you would like to apply a method to the given dataframe instead of reassigning it, set it to `True`.
### Check the columns again after you changed it to US states to make sure it worked.

In [ ]:
# changing dataframe inplace (without reassigning)
crash_df.rename(columns={'abbrev': 'US state'}, inplace=True)
crash_df.columns

### 1.3 Use the `.shape` attribute to see what dimensions the dataframe has.

In [ ]:
crash_df.shape

(51, 8)

### 1.4 A useful method to get a first impression of the type of data you are working with is `info()`. Apply it to the dataframe.

In [ ]:
crash_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total           51 non-null     float64
 1   speeding        51 non-null     float64
 2   alcohol         51 non-null     float64
 3   not_distracted  51 non-null     float64
 4   no_previous     51 non-null     float64
 5   ins_premium     51 non-null     float64
 6   ins_losses      51 non-null     float64
 7   US state        51 non-null     object
dtypes: float64(7), object(1)
memory usage: 3.3+ KB

### 1.5 If you want some summary statistics of your numeric data, use the `describe()` method.

In [ ]:
crash_df.describe()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
std,4.122002,2.017747,1.729133,4.508977,3.764672,178.296285,24.835922
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
25%,12.750000,3.766500,3.894000,10.478000,11.348000,768.430000,114.645000
50%,15.600000,4.608000,4.554000,13.857000,13.775000,858.970000,136.050000
75%,18.500000,6.439000,5.604000,16.140000,16.755000,1007.945000,151.870000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000

### 1.6 To replace specific values with different values use the `replace()` method. For practice, replace each of the following values [12.8, 13.6, 14.1, 19.4, 21.4] in the 'total' column with 100 and print it out without changing the dataframe.

In [ ]:
crash_df['total'].replace([12.8, 13.6, 14.1, 19.4, 21.4], 100)

40     23.9
34     23.9
48     23.8
3      22.4
17    100.0
26    100.0
18     20.5
36     19.9
42     19.5
41    100.0
43    100.0
0      18.8
2      18.6
31     18.4
38     18.2
1      18.1
9      17.9
16     17.8
24     17.6
11     17.5
50     17.4
33     16.8
7      16.2
25     16.1
15     15.7
10     15.6
12     15.3
19     15.1
27     14.9
28     14.7
14     14.5
35    100.0
22    100.0
49     13.8
5     100.0
45    100.0
13    100.0
37    100.0
46     12.7
20     12.5
32     12.3
4      12.0
29     11.6
44     11.3
30     11.2
39     11.1
6      10.8
47     10.6
23      9.6
21      8.2
8       5.9
Name: total, dtype: float64

## Loading and Saving Data

### 2.1 Use the `getcwd()` function of the python module `os` to see your current working directory in which you save data and load it from. If you want to change that directory use the `chdir()` function.

In [ ]:
os.getcwd()

In [ ]:
os.chdir('path_of_directory_you_want_to_be_working_directory')

### 2.2 Before loading and saving data with pandas, let's get the dataset from seaborn first. Load the 'car_crashes' dataset with seaborn's load_dataset function.

In [ ]:
car_crashes_df = sns.load_dataset('car_crashes')

### 2.3 Now use pandas' dataframe method `to_csv` to save the dataframe to a csv file. Make sure index is not saved and use spaces (' ') as delimiters between datapoints. If you are not sure how to do that you might want to look it up in the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html).

In [ ]:
car_crashes_df.to_csv('car_crashes.csv', sep=' ', index=False)

### 2.4 Now load your saved file again with `pd.read_csv()` and add a `_csv` to its variable name. Remember to load it with the same delimiter as you saved it. Print the dataframe afterwards to see if it worked.

In [ ]:
car_crashes_df_csv = pd.read_csv('car_crashes.csv', sep=' ')
car_crashes_df_csv.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

## Groupby

###  In a first step we are going to add a column indicating which of the four regions 'Northeast', 'South', 'Midwest', or 'West' a state belings to. After that we can group the dataframe according to those regions.

In [ ]:
crash_df['US Region'] = ['South', 'West', 'West', 'South', 'West', 'West', 'Northeast', 'South', 'South', 'South', 'South', 'West', 'West', 'Midwest', 'Midwest', 'Midwest',
'Midwest', 'South', 'South', 'Northeast', 'South', 'Northeast', 'Midwest', 'Midwest', 'South', 'Midwest', 'West', 'Midwest', 'West', 'Northeast', 'Northeast', 'West', 'Northeast', 'South', 'Midwest', 'Midwest', 'South', 'West', 'Northeast', 'Northeast', 'South', 'Midwest',
'South', 'South', 'West', 'Northeast', 'South', 'West', 'South', 'Midwest', 'West']

### 3.1 To get familiar with the groupby method, first try using groupby without a following function and have a look at what type it is applying `groupby('US Region')` to the dataframe.

In [ ]:
crash_df.groupby('US Region')

### 3.2 As you can see, only applying groupby does not get us far. Let us try to get something more interesting. Use groupby as before and add a `mean()` function at the end to get the mean of each column per US Region.

In [ ]:
crash_df.groupby('US Region').mean()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
US Region,,,,,,,
Midwest,15.558333,4.215583,4.996917,13.939000,13.456917,756.630833,123.995833
Northeast,12.455556,4.370444,3.934556,11.217222,10.445444,977.255556,137.926667
South,17.929412,5.220118,5.414647,15.147118,16.008765,951.692941,152.000588
West,15.515385,5.865000,4.754077,12.808308,14.354462,860.091538,118.911538

### 3.3 And now the maximum value of each region for the 'speeding' column.

In [ ]:
crash_df.groupby('US Region')['speeding'].max()

US Region
Midwest      6.923
Northeast    9.100
South        9.082
West         9.450
Name: speeding, dtype: float64

### 3.4 Using `describe` you can also get summary statistics of the 'speeding' column for each region, give it a try.

In [ ]:
crash_df.groupby('US Region')['speeding'].describe()

           count      mean       std    min      25%    50%      75%    max
US Region
Midwest     12.0  4.215583  1.537451  1.937  3.20525  4.278  5.10025  6.923
Northeast    9.0  4.370444  2.183519  1.792  3.77400  4.060  4.96800  9.100
South       17.0  5.220118  2.220711  2.006  3.75900  4.250  7.17500  9.082
West        13.0  5.865000  1.803138  3.496  4.45200  5.439  7.30800  9.450

### 3.5 You might also select specific columns using a list of names instead of a single column name. Get the standard deviation (`std`) of 'total' and 'alcohol'.

In [ ]:
crash_df.groupby('US Region')[['total', 'alcohol']].std()

              total   alcohol
US Region
Midwest    3.588988  1.824432
Northeast  2.879284  0.828121
South      4.537037  1.773576
West       3.325118  1.910356