# Python

## Rechnen

### 1.1 Die Formel zur Umrechnung von Grad °F zu °C lautet: $°C = \frac{5}{9} * (°F - 32)$. Schreiben Sie ein Program, das für jeden Wert in Fahrenheit den Wert in Celsius berechnet. Testen Sie es mit 100 °F.

In [ ]:
fahrenheit = 100
celsius = 5/9 * (fahrenheit - 32)
celsius

37.77777777777778

### 1.2 Die Formel zur Umrechnung von Grad Celsius zu Kelvin lautet: $ K = °C + 273,15$. Schreiben sie nun ein Program das beide Formeln verbindet und Fahrenheit in Kelvin umwandelt. Wie viel Kelvin sind 100 Fahrenheit?

In [ ]:
celsius = 5/9 * (fahrenheit - 32)
kelvin = celsius + 273.15
print(kelvin)

# alternative
# kelvin = 5/9 * (fahrenheit - 32) + 273.15
# print(kelvin)

310.92777777777775

## Typenkonvertierung

### 2. Versuchen Sie die folgenden Elemente mit `int()` in Integer umzuwandeln. Denken Sie am besten erst darüber nach was passieren wird und testen dann ob Sie richtig lagen.

### 2.1

In [ ]:
print(int(2.0))

2

### 2.2

In [ ]:
# Notice how Python always converts to the lower int value (floor)
print(int(2.3))

2

### 2.3

In [ ]:
# It does not round when you convert a float to an integer
print(int(2.7))

2

### 2.4

In [ ]:
# Exponential numbers are floats. So converting this to an int is the same as converting 20000000000.0
print(int(2e10))

20000000000

### 2.5

In [ ]:
# And as before a float converts to the floor of the number, here: 0.2 -> 0
print(int(2e-1))

0

### 2.6

In [ ]:
# Integer numbers of the string type can be converted to the int type
print(int("10"))

10

### 2.7

In [ ]:
# For float numbers of the string type, however, this is not the case
print(int("10.0"))

ValueError: invalid literal for int() with base 10: '10.0'

### 2.8

In [ ]:
# Perhaps unsurprisingly, lists, even with only one element, cannot be converted to integers
print(int([1]))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

### 2.9

In [ ]:
# This works, because for Python 1 == (1), both are already integers. The parentheses do not change anything in this case
print(int((1)))

1

### 2.10

In [ ]:
# Adding the comma, however, makes (1,) a tuple which cannot be converted to an int
print(int((1,)))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'tuple'

### 2.11

In [ ]:
# Since the boolean True is also considered to be 1 (for example True + True == 2 is also True) it can be converted to an int. 
print(int(True))

1

### 2.12

In [ ]:
# The same is true for False
print(int(False))

0

### 3. Versuchen Sie jetzt das gleiche mit den folgenden Elementen, aber konvertieren Sie sie dieses mal zu Dezimalzahlen (floats) mit `float()`.

### 3.1

In [ ]:
print(float(2))

2.0

### 3.2

In [ ]:
print(float("10"))

10.0

### 3.3

In [ ]:
# This might be the only noteable difference to the int conversion. Yet maybe not very suprising that a float inside a string
# actually can be converted to a float type.
print(float("1.5"))

1.5

### 3.4

In [ ]:
print(float(True))

1.0

### 4. Schreiben Sie ein if-else Statement das zwei Variablen `a` und `b` vergleicht die beide eine Zahl enthalten. Die größere der beiden Zahlen soll ausgegeben werden mit dem Text '{Zahl} ist größer'. Für den Fall, dass beide gleich groß sind, soll 'Beide Zahlen sind gleich groß' ausgegeben werden.

In [ ]:
a = 5
b = 10

if a > b:
    print(f'{a} ist größer')
elif a == b:
    print(f'Beide Zahlen sind gleich groß')
else:
    print(f'{b} ist größer')

10 ist größer

### 5. Schreiben Sie eine Liste (das Python-Objekt Liste!), welche die Jahre von ihrem Geburtsjahr bis 2022 enthält.

In [2]:
L = []
for i in range(1993,2022):
    L.append(i)

# alternative
# L = list(range(1993,2022))

print(L)

[1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

### 6. Schreiben Sie einen for-Loop der die Zahlenpaare innerhalb der Tuples in `pair_list` miteinander multipliziert und danach ausgiebt. Versuchen Sie dabei Indexierung (Auswahl der Elemente einer Sequenz auf diese weiße: Sequenz[index]) zu vermeiden.

In [ ]:
pair_list = [(1, 2), (3, 7), (9, 5)]

for x, y in pair_list:
    print(x * y)

2
21
45

### 7. Erstellen Sie ein dictionary `customers` mit den folgenden Keys: 
### 'customer_id', 'employment_status', 'age', 'location'  
### und den folgenden entsprechenden Values:
###  [12, 56, 2], [0, 1, 1], [22, 43, 31], ['Berlin', 'Cologne', 'Hamburg'].

In [ ]:
customers = {'customer_id': [12, 56, 2],
             'employment_status': [0, 1, 1],
             'age': [22, 43, 31],
             'location': ['Berlin', 'Cologne', 'Hamburg']}
customers

# alternative
# keys = ['customer_id', 'employment_status', 'age', 'location']
# values= [[12, 56, 2], [0, 1, 1], [22, 43, 31], ['Berlin', 'Cologne', 'Hamburg']]

# customers = {}
# for i in range(len(keys)):
#     customers[keys[i]] = values[i]
# customers

{'customer_id': [12, 56, 2],
 'employment_status': [0, 1, 1],
 'age': [22, 43, 31],
 'location': ['Berlin', 'Cologne', 'Hamburg']}